* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: steelblue;
}

.logo {
    font-size: 60px;
    color: white;
}



ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
    font-size: 30px;
}

h1, h2 {
     font-weight: 300;
     line-height: 1.2;
}

h1 {
    font-size: 30px;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    opacity: 0.9;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 30px;

}

p {
    font-size: 35px;
}

.navbar a {
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
}

.navbar a:hover {
    
    color: aquamarine;
}

.navbar .logo {
    font-weight: 400;
}

.navbar ul {
    display: flex;
    
}


    




h1 {
    font-size: 50px;
    color: black;
    padding-top: 85px;
    padding-left: 75px;
    align-items: center;
    
}

.connect {
    color: blanchedalmond;
    padding-top: 200px;
    padding-left: 150px;
}

.container {
    max-width: 900;
    margin: 100px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.item {
    background-color: steelblue;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    /* border: skyblue 1px solid; */

}

.min {
    color: white;
    text-align: center;
    padding-right: 130px;
}

.img {
    padding-left: 110px;
    padding-bottom: 30px;
}

.kdz {
    color: white;
    padding-bottom: 50px;
    padding-left: 180px;

}

.chld {
    padding-bottom: 150px;
    padding-left: 50px;
}

.men {
    color: white;
    padding-left: 220px;
    padding-bottom: 50px;
}



.menmin {
    padding-top:50px ;
}
.mensmin {
    padding-left: 65px;
}

.cr {
    padding-top: 50px;
    padding-left: 150px;
}

.mar {
    color: white;
    text-align: center;
}

.coup {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 150px;
}

.marmin {
    padding-left: 150px;
}

.rec {
    color: white;
    padding-left: 240px;
}







