* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    font-size: 60px;
    color: white;
}



ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
    font-size: 30px;
}

h1, h2 {
     font-weight: 300;
     line-height: 1.2;
}

h1 {
    font-size: 30px;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    
    opacity: 0.8;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 30px;

}

.navbar a {
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
}

.navbar a:hover {
    /* border-bottom: #28a745 2px solid; */
    color: aquamarine;
}

.navbar .logo {
    font-weight: 400;
}

.navbar ul {
    display: flex;
    
}

.container {
    display: flex;
    justify-content: center;
    max-width: 960px;
    margin-inline: auto;
    padding-inline: 2rem;
}

.card__img {
    padding-top: 300px;
} 

h1 {
    font-size: 60px;
    color: steelblue;
    display: flex;
    justify-content: center;

}